.Header
    &-shithappens
        left 25%
        transition-duration 2s

    &-shithappens2
        -webkit-transition-duration 3s /* Safari */
        /*-ms-transform rotate(7119eg)*/ /* IE 9 */
        -webkit-transform rotate(119deg) /* Chrome, Safari, Opera */
        transform rotate(119deg)
