@import "iconfonts.styl"

colorSeleccion = #b3d4fc
rojito = #ff4d4d

html
button
input
select
textarea
    color #222

html
    font-size 16px
    line-height 1.4

::-moz-selection
    background colorSeleccion
    text-shadow none

::selection
    background colorSeleccion
    text-shadow none

hr
    display block
    height 1px
    border 0
    border-top 1px solid #ccc
    margin 1em 0
    padding 0

audio
canvas
img
video
    vertical-align middle

fieldset
    border 0
    margin 0
    padding 0

textarea
    resize vertical

.browsehappy
    margin 0.2em 0
    background #ccc
    color #000
    padding 0.2em 0


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*::-webkit-input-placeholder
    color white
    font-family'Pontano Sans'

*:-moz-placeholder
    /* FF 4-18 */
    color white
    font-family 'Pontano Sans'

*::-moz-placeholder
    /* FF 19+ */
    color: white
    font-family 'Pontano Sans'

*:-ms-input-placeholder
    /* IE 10+ */
    color white
    font-family 'Pontano Sans'

a:hover
    text-decoration none

footer

    img
        margin 0 10px
        opacity .8
        width 22px

footer img:hover
    opacity 1

h1, h2
    letter-spacing 5.5px
    margin-bottom 17px

h1, h2, .call-to-action, .nav-container a, h3
    font-family 'Montserrat'
    text-transform uppercase

h2
    font-size 26px

h3
    color #545454
    font-size 13px
    letter-spacing 3px

hr
    margin 0 auto 10px
    width 26px

input, input[type="text"], textarea
    margin 10px
    background-color transparent
    border 1px solid white
    border-radius 0
    padding 11px
    color white
    font-family 'Pontano Sans', sans-serif
    width: 90%
    -webkit-appearance: none
p
    font-family 'Pontano Sans' sans-serif
    color #545454

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="submit"]:focus,
.uneditable-input:focus
  border 1px solid rgba(255,255,255, 0.9)
  box-shadow 0 1px 1px rgba(255,255,255, 0.9) inset, 0 0 0px
  outline 0 none

#animated-image
    height 470px
    left 53%
    margin-left -235px
    margin-top -242.5px
    position fixed
    top 50%
    width 470px

#animated-image

    img
        width 100%

#contact-form
    margin 0 auto 0
    max-width 500px
    text-align center

#header
    padding-bottom 170px

#services-section

    .stages-row
        width 100%

 .appear
    display block

.brand
    width 100px
    margin-top 11px

.brand-container
    height 45px
    display inline-block

.carousel-control.left, .carousel-control.right
    background-image none

.centered-elements
    padding-top 8%
    text-align center

.col-md-4

    p

        max-width 494px
        margin 0 auto 0

.first-pic
    background-image url("../img/picbyn3.png")
    background-size cover

.second-pic
    background-image url("../img/picbyn4.png")
    background-size cover

.head-jumbotron
    background-color #ff4d4d

    hr
        border-top 2px solid #ffffff

    .lead
        margin-bottom 30px !important

    .title-container,
    .title-container p,
    #contact-form,
    #contact-form p
        color #ffeded

.jumbotron
    color #262626
    margin-bottom 0
    padding 0 0 130px
    position relative

    h1
        font-size 47px

    h1, p
        text-align center

    footer
        position absolute
        bottom 0
        left 50%
        margin-left -81px
        padding 27px

    p
        font-size 19px

    .call-to-action
        color #ff4d4d
        background-color #ffeded
        display inline-block
        max-width 380px
        padding 15px 20px

    .call-to-action:hover
        color #ff4d4d
        background-color white

.fixed
    position fixed

.nav>li>a
    opacity .9

.nav>li>a:hover, .nav>li>a:focus
    background-color transparent
    opacity 1

.nav-container
    padding-top 37px

    a
        color white
        letter-spacing 3px

.service-caption 
    padding 50px

.services

    :nth-child(1)

        .services-thumbnail

            .service-caption
                padding 125px 50px

    :nth-child(2)

        .services-thumbnail

            .service-caption
                padding 91px 50px

    .col-md-4
        padding 0

.services-jumbotron
    background-color white

    hr
        border-top 2px solid #ff4d4d

    .title-container
        margin-bottom 37px

.services-thumbnail
    height 100%
    background-color #fafafa
    margin-bottom -1000px
    padding-bottom 1000px

    img
        width 100%

.stages
    background-color #fafafa

.stages-img
    margin 0 auto 0
    width 45%
    -webkit-transition-duration 0.8s
    -moz-transition-duration 0.8s
    -o-transition-duration 0.8s
    transition-duration 0.8s
    -webkit-transition-property -webkit-transform
    -moz-transition-property -moz-transform
    -o-transition-property -o-transform
    transition-property transform

.stages-img:hover
    -webkit-transform rotate(360deg)
    -moz-transform rotate(360deg)
    -o-transform rotate(360deg)

.stages-row
    overflow hidden
    margin 25px auto 0
    width 75%

    p
        font-size 13px

.success
    color white

.title-container
    margin 0 auto 0
    max-width 651px
    text-align center

    .lead
        display inline-block
        margin-bottom 0
        padding 0 42px

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
@import "components/header.styl"
@import "components/footer.styl"
@import "components/contact_form.styl"
@import "viewports.styl"
@import "utils.styl"
@import "print.styl"
