/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

@media only screen and (max-width : 992px) 
	.col-md-4:nth-child(1) p, .col-md-4:nth-child(2) p
		margin-bottom: 60px
}
