/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

@media only screen and (max-width : 992px)

	h1
		line-height 42px

	h2
		font-size 19px
		line-height 27px

	#process-section

		.col-md-4:nth-child(1) p, .col-md-4:nth-child(2) p
			margin-bottom: 60px

	.col-md-4
		padding 0

	.container

		.lead
			font-size 16px
			padding 0

	.jumbotron

		h1
			font-size 35px

	.services

		.service-caption
			padding 37px

	.services-thumbnail
		margin-bottom 40px
		padding-bottom 0

		figure
			height 187px

	.title-container
		max-width 498px

