<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Uxart-portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/public/css/styles.min.css"/>
    </head>
    <body>
        <header class="Header">
            <nav class="container nav-container">
                <a class="brand-container" href="#">
                    <img class="brand" src="/public/img/logo-uxtart-13.png" />
                </a>
            </nav>
        </header>

        
        {% block content %}
        {% endblock %}

        <footer class="Footer">
            <a href="https://twitter.com/uxtart">
                <img src="/public/img/twitter.png" alt="" />
            </a>
            <a href="https://www.linkedin.com/pub/karla-vargas/85/852/8bb" target="_blank">
                <img src="/public/img/linkedin.png" alt="" />
            </a>
        </footer>
    </body>
</html>
