{% extends "base.html" %}
{% block content %}
<section>
    <div id="header" class="jumbotron head-jumbotron first-pic"> 
        <header class="container nav-container">
            <a class="brand-container" href="#"><img class="brand" src="/public/img/logo-uxtart-13.png" alt="Logo Uxtart"></a>
        </header>
        <div class="container centered-elements">
            <div class="title-container">
                <h1>Más que diseño web y mobile
                </h1>
                <hr>
                <p class="lead">Transformamos tus grandes ideas en productos y servicios digitales efectivos e innovadores.
                </p>
                <a id="contact" class="call-to-action" href="#contact-form">Hablemos de tu proyecto
                </a>
            </div>
        </div>
    <div>
</section>
<section class="jumbotron services-jumbotron container">
    <div class="centered-elements container">
        <div class="title-container">
            <h2>Una metodolodía centrada en tus usuarios</h2>
            <hr>
            <p class="lead">Para tener un proyecto digital de éxito hace falta más que el producto mismo. Con nuestra completa metodología te asesoramos en todo el proceso para que tu negocio digital tenga los mejores resultados.</p>
        </div>
        <div class="row clearfix stages-row">
            <div class="col-md-4 column">
                <img class="stages-img" src="/public/img/proceso-01.png" alt="Imagen idear">
                <h3>Idear</h3>
                <p>Todo buen proyecto digital comienza con una idea viable, rentable e innovadora. Nuestra misión es ayudarte a pulirla y -sobre esa base- planificar el desarrollo de tu producto.</p>
            </div>
            <div class="col-md-4 column">
                <img class="stages-img" src="/public/img/proceso-02.png" alt="Imagen construir">
                <h3>Construir</h3>
                <p>Co-diseñamos contigo tu proyecto digital con las mejores prácticas, centrándonos tanto en las necesidades de tus usuarios como en los objetivos del negocio.</p>
            </div>
            <div class="col-md-4 column">
                <img class="stages-img" src="/public/img/proceso-03.png" alt="Imagen evaluar">
                <h3>Evaluar</h3>
                <p>Lo que no se mide no se puede mejorar por eso aplicamos estudios para medir la respuesta de tus usuarios y el éxito de tu producto. </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="jumbotron head-jumbotron second-pic"> 
        <div class="container centered-elements">
            <div id="contact-form">
                <h2>Hablemos</h2>
                <hr>
                <p>¿Necesitas ayuda con tus proyectos?, ¿Quieres hacer alguna pregunta?, ¿Te gustaría colaborar con Uxtart? no dudes en consultarlo. Puedes mandarnos un correo a <strong>hellouxtart@gmail.com</strong></p>
                <div class="row">
                    <input id="name" class="input" name="name" type="text" value="" placeholder="Tu nombre"/>
                    <strong></strong>
                </div>
                <div class="row">
                    <input id="email" class="input" name="email" type="text" value="" placeholder="Tu correo electrónico" />
                    <strong></strong>
                </div>
                <div class="row">
                    <textarea id="message" class="input" name="message" rows="5" placeholder="Tu mensaje"></textarea>
                    <strong></strong>
                </div>
                <input onclick="sendform();" class="call-to-action" id="submit_button" type="button" value="Enviar" />
            </div> 
            <strong class="success"></strong>
        </div>
        <footer>
            <a href="https://twitter.com/uxtart"><img src="/public/img/twitter.png" alt="twitter"></a>
            <a href="hhttps://www.facebook.com/uxtart"><img src="/public/img/facebook-01.png" alt="facebook"></a>
        </footer>    
    <div>
</section>
{% endblock %}
